header{
    margin-bottom: 50px;
}
.carousel{
   
    padding-left: 70px;
    padding-right: 70px;
}
.carousel-item{
   
    background-color: pink;
}
.caro-btn{
    background-color: orangered;
    font-weight: 200px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#caro-2{
    background-color: aqua;
}
#caro-3{
    background-color:lightgreen;
}

.subscribe{
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: lightskyblue;
    height: 300px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
}

.footer{
    background-color: lightgrey;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 5px;
}